<div class="card w-100.my-5">
    <div class="card-body">
        <h1 class="card-title text-center">Lista de Usuarios</h1>
        <button routerLink="/formulario" class="btn btn-primary mb-4 float-end">
            Cadastrar Novo
        </button>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Idade</th>
                    <th class="text-center">Profissao</th>
                    <th class="text-center" colspan="2"></th>
                </tr>
            </thead>
            <tr *ngFor="let usuario of usuarios">
                    <td class="text-center">{{ usuario.id }}</td>
                    <td class="text-center">{{ usuario.nome }} {{ usuario.sobrenome }}</td>
                    <td class="text-center">{{ usuario.idade }}</td>
                    <td class="text-center">{{ usuario.profissao }}</td>
                    <td class="text-center">
                        <!-- routerLink: '/form/${id}' URL com o id do usuario -->
                        <button class="btn btn-outline-success" [routerLink]="['/form', usuario.id]">Editar</button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-outline-danger" (click)="excluir(usuario.id)">Excluir</button>
                    </td>
            </tr>
            <tbody></tbody>
        </table>
    </div>
</div>
