<div class="card w-100.my-5">
    <div class="card-body">
        <h1 class="card-title text-center">Lista de Usuarios</h1>
        <button routerLink="/formulario" class="btn btn-primary mb-4 float-end">
            Cadastrar Novo
        </button>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Profissao</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
                <td>1</td>
                <td>joao</td>
                <td>19</td>
                <td>Funcionario Publico</td>
                <td>
                    <button class="btn btn-primary">Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger">Excluir</button>
                </td>
            <tbody></tbody>
        </table>
    </div>
</div>
