<!-- Chamando Diretiva Personalizada
  Nota que a classe tem prioridade sobre a Diretiva personalizada, pois não alterou a cor do TExto
  -->
  <h1 class="text-success text-center" appMarcaTexto>Diretivas</h1>

  <h2>[ngStyle]</h2>
  <div [ngStyle]="{background: contador < 5? 'red': 'blue'}"
        [ngClass]="{maiorQ5: contador > 5}">
    <h2 class="text-center">Contador: {{ contador }}</h2>
  </div>
  
  <h2>*ngIf</h2>
  <h2 *ngIf="contador > 6; else menor" class="text-center">Alerta: Maior que 6!</h2>
  
  <ng-template #menor>Por enquanto, é menor que 7</ng-template>
  
  <h2>[ngSwitch</h2>
  <ul [ngSwitch]="contador" class="list-group mx-auto col-3">
    <li class="list-group-item" *ngSwitchCase="3">A Vingança dos Sith</li>
    <li class="list-group-item" *ngSwitchCase="5">Imperio Contra-Ataca</li>
    <li class="list-group-item" *ngSwitchCase="7">Despertar da Força</li>
    <li class="list-group-item" *ngSwitchCase="8">Ultimos Jedi</li>
    <li class="list-group-item" *ngSwitchCase="10">Acabou</li>
  
  </ul>
  
  <app-lista-pessoas></app-lista-pessoas>
  
  <label for="">Label</label>
  <input [(ngModel)]="texto" type="text" class="form-control" >
  <!-- Chamando Diretiva personalizada com parametros -->
  <h3 appMarcaTexto corDeFundo="green" corDoTexto="yellow" id="teste">Saida: {{ texto }}</h3>