<div class="card w-100 my-5">
    <div class="card-body">
        <h1 class="card-title text-center">Formulário de Usuários</h1>
        <form action="">
            <div class="row my-4">
                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Digite o nome">
                        <label for="floatingInput">Nome</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Digite o sobrenome">
                        <label for="floatingInput">Sobrenome</label>
                    </div>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="Digite a Idade">
                        <label for="floatingInput">Idade</label>
                    </div>
                </div>
            <div class="col-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Digite a Profissao">
                    <label for="floatingInput">Profissao</label>
                </div>
                        </div>
            </div>
        <div class="row my-4">
            <div class="form-group col-12 mt-4">
                <button class="btn btn-outline-danger float-start">Cancelar</button>
                <button class="btn btn-outline-sucess float-end">Cadastrar</button>
            </div>
        </div>
        </form>
        
    </div>
</div>

 